* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: linear-gradient( yellow , purple , orange, red , pink);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#demo{
    height: 50px;
    width: 70px;
    border: 2px solid black;
    border-radius: 2px;
    cursor:pointer;
    background-image: linear-gradient(black , white);
}

#demo:hover {
    height: 50px;
    width: 60px;
    background-image: linear-gradient(white , black);
    border-radius: 5px;
}